<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <title>YouTube to MP3 Converter</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="top_container">
        <form action="convert-mp3" method="POST" id="form">
            <h1><i class="fa-brands fa-youtube"></i>Youtube to MP3 Converter</h1>
            <h4>Enter the link</h4>
            <div>
                <input type="text" name="videoID" placeholder="Video Id"><button id="convert-btn">Convert!</button>
            </div>
        </form>
    </div>
</body>
</html>
